<?xml version="1.0"?>

<appSettings>
     <!--System-->
     <add key="owin:AutomaticAppStartup" value="true" />
     <add key="webpages:Version" value="3.0.0.0" />
     <add key="webpages:Enabled" value="false" />
     <add key="ClientValidationEnabled" value="true" />
     <add key="UnobtrusiveJavaScriptEnabled" value="true" />
     <!--System-->

     <add key="MaintenanceMode" value="false" />

     <!--Log-->
     <add key="LogPath" value="Logs" />
     <add key="LogFile" value="LogsFile.log" />
     <add key="FlushAtAge" value="20" />
     <add key="FlushAtQty" value="1" />
     <!--Log-->

     <!--InvLog-->
     <add key="InvLogPath" value="InvLogs" />
     <add key="InvLogFile" value="InvLogsFile.log" />
     <!--InvLog-->

     <!--JobLog-->
     <add key="JobFolderPath" value="/Libraries/Jobs" />
     <add key="JobLogPath" value="JobLogs" />
     <add key="JobLogFile" value="JobLogsFile.log" />
     <!--JobLog-->

     <add key="Issuer" value="http://jwtauthzsrv.azurewebsites.net" />
     <add key="AuthenticationExpire" value="1" />
     <add key="AppMessageTableName" value="Sys_Messages" />
     <add key="AppMessageTypeDataProvider" value="MCSProvider" />
     <add key="AppLanguageCode" value="vi-VN" />
     <add key="AppCookieExpired" value="7" />
     <add key="AppAvatarDefault_URL" value="/Contents/Base/imgs/avatar-default.png" />
     <add key="AppAvatarFolder_Path" value="/Contents/imgs/avatars" />
     <add key="AppDefaultDataProvider" value="MCSProvider" />
     <add key="AppHasEncrypt" value="false" />
     <add key="AppPassword" value="6NP9R$0@jwE01dW5" />
     <add key="AppModuleProcedureConfigPath" value="/App_Data/Modules" />
     <add key="AppProcedureConfigPath" value="/App_Data" />
     <add key="AppLibraryAuthorPath" value="/Libraries/Authorities" />
     <add key="AppLibraryProcedurorPath" value="/Libraries/Procedurors" />
     <add key="AppAuthorityType" value="SQLServerProcedureAuthority" />
     <add key="MembershipProviderNotRedirect" value="VNPTEmailMembership,AppMembership" />
     <add key="AppMembershipType" value="AppMembership" />

     <add key="AppOwnerDisplayName" value="PHẦN MỀM QUẢN LÝ ĐỐI TƯỢNG" />
     <add key="Host_Protocol" value="http://" />

     <!--Email-->

     <add key="Email_Host" value="smtp.gmail.com" />
     <add key="Email_Port" value="587" />
     <add key="Email_UserCredential" value="vpdkddkh@gmail.com" />
     <add key="Email_UserCredentialName" value="PHẦN MỀM QUẢN LÝ ĐỐI TƯỢNG" />
     <add key="Email_UPass" value="xrfukdykylpziopx" />
     <!--<add key="Email_UPass" value="uqjddpxachppvrzs" />-->

     <!--Email-->

     <!--Email Templates-->

     <add key="EmailTemplates_TemplateNewUser" value="/Contents/Modules/Sys/EmailTemplates/_TemplateNewUser.cshtml" />
     <add key="EmailTemplates_TemplateResetPassword"
          value="/Contents/Modules/Sys/EmailTemplates/_TemplateResetPassword.cshtml" />
     <add key="EmailTemplates_TemplateNotify" value="/Contents/Modules/Sys/EmailTemplates/_TemplateNotify.cshtml" />

     <!--Email Templates-->

     <!--Logo Email-->

     <add key="Logo_VNPT_Path" value="\Contents\Base\imgs\bg-vnpt.png" />
	 <add key="Logo_App_Path" value="\Contents\Base\imgs\bg-sav.jpg" />
	 <add key="Logo_VPDKDD_Path" value="\Contents\Base\imgs\Logo_Bo_TainguyenMoitruong.jpg" />

     <!--Logo Email-->

     <!--RefDocs Folder-->

     <add key="RefDocs_PathFolder" value="/Contents/Modules/Major/RefDocs/" />

     <!--RefDocs Folder-->

     <!--RefTemplates Folder-->

     <add key="RefTemplates_PathFolder" value="/Contents/Modules/Major/Templates/" />

     <!--RefTemplates Folder-->

     <add key="AppLibraryNotifyPath" value="/Libraries/Notifies" />

     <!--Job SyncComplain-->

     <!--https://paknapi.ziz.vn/-->
     <add key="API_PAKN_Host" value="https://tuongtac.khanhhoa.gov.vn:6899/" />
     <add key="API_PAKN_GetUnitField" value="/api/recommendation/get-data-for-search" />
     <add key="API_PAKN_GetComplain" value="/api/Visitor/get-list-recommentdation-by-field" />

     <add key="Job_SyncComplain_DefaultUnit" value="8359" />
     <add key="Job_SyncComplain_DefaulField" value="1114;2118" />

     <!--Job SyncComplain-->

     <!--Report-->
     <add key="Report_FolderPath" value="/Libraries/Reports" />
     <!--JobLog-->

     <!--eContract-->

	<add key="App_eContract_Domain" value="https://apigateway-econtract-poc.vnptit3.vn" />
	<add key="App_eContract_ClientId" value="4201642981.client@econtract.vnpt.vn" />
	<add key="App_eContract_Secret" value="cN2juxPy6g0pNnXFzmOj2hYDHQ7xBnfX" />
	<add key="App_eContract_Account_UserName" value="4201642981_poc" />
	<add key="App_eContract_Account_Password" value="BmEhtf9C" />
     
    <!--eContract-->

	<!--SMS BrandName OTP-->
	
	<add key="BASE_URL_SMS_API" value="http://113.185.0.35:8888"/>
	<add key="URL_SMS_BRANDNAME" value="/smsmarketing/api"/>
	<add key="SMS_BRANDNAME_AGENTID" value="250"/>
	<add key="SMS_BRANDNAME_APIPASS" value="Kha@123456"/>
	<add key="SMS_BRANDNAME_APIUSER" value="VPDKDD-KH"/>
	
	<add key="SMS_BRANDNAME_CONTRACTID" value="15565"/>
	<add key="SMS_BRANDNAME_CONTRACTTYPEID" value="1"/>
	<add key="SMS_BRANDNAME_LABELID" value="197916"/>
	
	<add key="SMS_BRANDNAME_ADSERID" value="250"/>
	<add key="SMS_BRANDNAME_ADSERTYPE" value="0"/>
	<add key="SMS_BRANDNAME_USERNAME" value="VPDKDD-KH"/>
	<add key="SMS_BRANDNAME_AGENTTYPE" value="1"/>

	<add key="SMS_BRANDNAME_TEMPLATEID_OTP_CONFIRM" value="1291422"/>
	<add key="SMS_BRANDNAME_TEMPLATEID_OTP_REFUSE" value="1282893"/>
	<add key="SMS_BRANDNAME_TEMPLATEID_OTP_RESOLVED" value="1282898"/>
	
	<!--SMS BrandName-->
</appSettings>