<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocumentFormat.OpenXml" version="3.0.2" targetFramework="net48" />
  <package id="DocumentFormat.OpenXml.Framework" version="3.0.2" targetFramework="net48" />
  <package id="FreeSpire.Doc" version="11.6.0" targetFramework="net48" />
  <package id="Microsoft.Report.Viewer" version="11.0.0.0" targetFramework="net48" />
</packages>